@model StatisticsViewModel
@{
    ViewData["Title"] = "Statistics";
}
<script src="~/myLib/js/gLoader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    
    function drawChart() { 
        const data2 = google.visualization.arrayToDataTable(@Html.Raw(Json.Serialize(Model.StatisticList)));
        
        const options = {
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        const chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data2, options);
      }
</script>

<div>
    <div class="header">
        <h1>Statistik</h1>
    </div>
    <hr/>
    <div class="row">
        @if (Model.StatisticList != null)
        {
            <div class="col-md-12">
                <h1>Gewicht der letzten 7 Tage</h1>
            </div>
            <div class="col-md-12">
                <div id="curve_chart" style="height: 500px;"></div>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <h1>Keine Daten gefunden</h1>
            </div>
        }
    </div>
</div>